@font-face {
    font-family: 'open_sans_condensed';
    src: 
        url('https://github.com/TheMisterPenguin/TheMisterPenguin/raw/main/OpenSans-CondLight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
